<div class="uk-container uk-background-default">
    <div class="uk-grid-small uk-child-width-expand@s" uk-grid>
        <fieldset class="uk-fieldset">
            <legend class="uk-legend">Products</legend>
            <div class="uk-grid-small uk-margin-small-top" uk-grid>
                <div class="uk-width-4-5@s">
                    <input class="uk-input" type="text" [formControl]="productName" placeholder="Product name">
                </div>
                <div class="uk-width-1-5@s uk-flex uk-flex-center">
                    <button (click)="getProducts()" class="uk-button uk-button-primary">
                        <span uk-icon="search"></span> Search
                    </button>
                </div>
            </div>
            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <label><input class="uk-radio" type="radio" [formControl]="stockStatus" name="productStatus"
                        [value]="STOCK_STATUS_ENUM.IN_STOCK"> In stock</label>
                <label><input class="uk-radio" type="radio" [formControl]="stockStatus" name="productStatus"
                        [value]="STOCK_STATUS_ENUM.OUT_OF_STOCK"> Out of stock</label>
            </div>
        </fieldset>
    </div>

    <hr class="uk-divider-icon" />

    <div class="uk-grid-small uk-child-width-1-2@m uk-grid-match" uk-grid>
        <div *ngFor="let product of products">
            <div class="uk-card uk-card-small uk-card-default uk-card-hover uk-card-body">
                <div #stockStatus class="uk-card-badge uk-label"
                    [ngClass]="'uk-label-' + getStockStatusClass(product.quantityOnStock)">
                    {{ getStockStatus(product.quantityOnStock) }}</div>
                <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-1-3@m">
                        <img [srcset]="product.imageUrl" width="100" height="100" alt="" uk-img>
                    </div>
                    <div class="uk-width-2-3@m uk-flex uk-flex-column uk-flex-between@m">
                        <h2>{{ product.name }}</h2>
                        <p [ngClass]="'uk-text-' + getStockStatusClass(product.quantityOnStock)">Quantity in
                            stock: {{ product.quantityOnStock }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
