<div class="uk-container uk-background-default">
    <div class="uk-grid-small uk-child-width-expand@s" uk-grid>
        <fieldset class="uk-fieldset">
            <legend class="uk-legend uk-margin-small-bottom">Detections History</legend>
            <div class="uk-grid-small" uk-grid>
                <div class="uk-width-2-5@s">
                    <label for="startDate" class="uk-text-bold">Start date</label>
                    <input class="uk-input" type="text" id="startDate" (ngModelChange)="startDate = parseDate($event)"
                           [ngModel]="startDate" placeholder="dd/mm/yyyy">
                </div>
                <div class="uk-width-2-5@s">
                    <label for="finishDate" class="uk-text-bold">Finish date</label>
                    <input class="uk-input" type="text" id="finishDate" (ngModelChange)="finishDate = parseDate($event)"
                           [ngModel]="finishDate" placeholder="dd/mm/yyyy">
                </div>
                <div class="uk-width-1-5@s uk-flex uk-flex-bottom">
                    <button (click)="getHistory()" class="uk-button uk-button-primary">
                        <span uk-icon="search"></span> Search
                    </button>
                </div>
            </div>
        </fieldset>
    </div>

    <hr class="uk-divider-icon uk-margin-remove-bottom"/>

    <div *ngFor="let history of history" class="uk-card uk-card-default uk-card-body uk-margin-top">
        <div class="uk-grid">
            <div class="uk-width-1-6@m">
                <img src="{{history.image}}" alt="Image" class="history-image">
            </div>
            <div class="uk-width-expand@m">
                <table class="uk-table uk-table-small uk-table-striped uk-table-hover">
                    <tr>
                        <th>Product:</th>
                        <td class="uk-width-expand">{{history.product.name}}</td>
                    </tr>
                    <tr>
                        <th>Action:</th>
                        <td class="uk-width-expand">
                            <span class="uk-label uk-label-danger" *ngIf="history.action === 'REMOVE'">
                                {{history.action}}
                            </span>
                            <span class="uk-label uk-label-success" *ngIf="history.action === 'ADD'">
                                {{history.action}}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>Quantity:</th>
                        <td class="uk-width-expand">{{history.quantity}}</td>
                    </tr>
                    <tr>
                        <th>Date:</th>
                        <td class="uk-width-expand">{{this.toTime(history.timestamp)}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <br/>

</div>
