.history-image {
    height: 138px;
    width: 207px;
}

.uk-table-small td, .uk-table-small th {
    padding: 6px 8px;
}

.uk-table-hover tbody tr:hover, .uk-table-hover > tr:hover {
    background-color: #F8F8F8 !important;
}
